{% extends "base.html" %}

{% block title %}Descriptive Statistics{% endblock %}

{% block content %}
<h1>Select a Dataset for Analysis</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<ul class="list-group">
    {% for file in files %}
    <li class="list-group-item">
        <a href="{{ url_for('analyze', filename=file) }}">{{ file }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
