{% extends "base.html" %}

{% block title %}Data Upload{% endblock %}

{% block content %}
<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4">
        <div class="card-body">
            <h6 class="card-title mb-3">Report Output Type</h6>
            <div class="d-flex flex-row"> <label class="radio mr-1"> <input type="radio" name="add" value="anz" checked> <span> <i class="fa fa-user"></i> PDF </span> </label> <label class="radio"> <input type="radio" name="add" value="add"> <span> <i class="fa fa-plus-circle"></i> Word / Docx </span> </label> </div>
            <h6 class="information mt-4">Please provide following information to generate your report</h6>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Select Dataset</option>
                                {% for file in files %}
                                <option value="{{ file.name }}">{{ file.name }}</option>
                                {% endfor %}
                              </select>       
                    </div>
                    <br>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                            <div class="card-body text-center">
                                <h6 class="card-title mb-3">Select Report Outputs</h6>
                                <hr class="mb-30">
                
                                <label class="check">
                                  <input type="checkbox" checked>
                                  <span>Descriptive Statistics</span>
                                </label>
                                <label class="check">
                                  <input type="checkbox">
                                  <span>Network Statistics</span>
                                </label>
                
                                <label class="check">
                                  <input type="checkbox">
                                  <span>EGRM</span>
                                </label>
                
                                <label class="check">
                                  <input type="checkbox">
                                  <span>ALAAM</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <button class="btn btn-primary btn-block confirm-button">Print Report!</button>
        </div>
    </div>
</div>
{% endblock %}
