{% extends "base.html" %}

{% block title %}Data Upload{% endblock %}

{% block content %}
<h1>Report Generator</h1>
<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4">
        <div class="card-body">
            <h6 class="information mt-4">Please select a dataset:</h6>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example" id="dataset-select">
                            <option selected>Select Dataset</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <h6>Please select a sheet:</h6>
                        <select class="form-select" aria-label="Default select example" id="sheet-select">
                            <option selected>Select Sheet</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <h6>Select Statistic Measures:</h6>
                        <label class="check">
                            <input type="checkbox" class="statistic-checkbox" value="Mean">
                            <span>Mean</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" class="statistic-checkbox" value="Median">
                            <span>Median</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" class="statistic-checkbox" value="Mode">
                            <span>Mode</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" class="statistic-checkbox" value="Standard Deviation">
                            <span>Standard Deviation</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" class="statistic-checkbox" value="Variance">
                            <span>Variance</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" class="statistic-checkbox" value="Skewness">
                            <span>Skewness</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" class="statistic-checkbox" value="Kurtosis">
                            <span>Kurtosis</span>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="card-body text-center">
                                    <h6 class="card-title mb-3">Select Report Outputs</h6>
                                    <hr class="mb-30">
                                    <label class="check">
                                        <input type="checkbox" checked>
                                        <span>Descriptive Statistics</span>
                                    </label>
                                    <label class="check">
                                        <input type="checkbox">
                                        <span>Network Statistics</span>
                                    </label>
                                    <label class="check">
                                        <input type="checkbox">
                                        <span>EGRM</span>
                                    </label>
                                    <label class="check">
                                        <input type="checkbox">
                                        <span>ALAAM</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block confirm-button">Print Report!</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Fetch available datasets from Flask endpoint
        fetch('/get_available_datasets')
            .then(response => response.json())
            .then(data => {
                // Populate the dataset dropdown menu with dataset names
                const datasetSelect = document.getElementById('dataset-select');
                datasetSelect.innerHTML = ''; // Clear existing options
                data.forEach(dataset => {
                    const option = document.createElement('option');
                    option.value = dataset;
                    option.textContent = dataset;
                    datasetSelect.appendChild(option);
                });

                // Fetch available sheets for the first dataset
                if (data.length > 0) {
                    fetch(`/get_sheets/${data[0]}`)
                        .then(response => response.json())
                        .then(sheets => {
                            // Populate the sheet dropdown menu with sheet names
                            const sheetSelect = document.getElementById('sheet-select');
                            sheetSelect.innerHTML = ''; // Clear existing options
                            sheets.forEach(sheet => {
                                const option = document.createElement('option');
                                option.value = sheet;
                                option.textContent = sheet;
                                sheetSelect.appendChild(option);
                            });
                        })
                        .catch(error => console.error('Error fetching available sheets:', error));
                }
            })
            .catch(error => console.error('Error fetching available datasets:', error));

        // Event listener for dataset selection change
        document.getElementById('dataset-select').addEventListener('change', function() {
            const selectedDataset = this.value;
            // Fetch available sheets for the selected dataset
            fetch(`/get_sheets/${selectedDataset}`)
                .then(response => response.json())
                .then(sheets => {
                    // Populate the sheet dropdown menu with sheet names
                    const sheetSelect = document.getElementById('sheet-select');
                    sheetSelect.innerHTML = ''; // Clear existing options
                    sheets.forEach(sheet => {
                        const option = document.createElement('option');
                        option.value = sheet;
                        option.textContent = sheet;
                        sheetSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error fetching available sheets:', error));
        });
    });
</script>
{% endblock %}
