{% extends "base.html" %}

{% block title %}Support{% endblock %}

{% block content %}
<h1>Support</h1>
<div class="container">
    <div class="mb-3">
    <p>For comprehensive information about the application, please refer to our detailed documentation.</p>
    <a href="[need-to-add-documentation-link]" class="btn btn-secondary" role="button">Documentation</a>
    </div>
    <div class="mb-3">
    <p>For information about the code base, please refer to the GitHub repository.</p>
    <a href="https://github.com/jayasinp/socialens_sprint1" class="btn btn-secondary" role="button">GitHub Repository</a>
    </div>
</div>
{% endblock %}
